{% extends "base.html" %}
{% block title %}Scheduled Maintenance Notice{% endblock %}
{% block content %}
<br>
<table cellpadding="10" cellspacing="0" border="1" bordercolor="#b09a4a" align="center" bgcolor="#fff3b8" width="60%">
  <tr><td align="center">
    <font size="3"><b>SCHEDULED MAINTENANCE NOTICE</b></font>
    <br><br>
    <font size="2">
      Core processing will be unavailable Sunday 02:00&ndash;04:00 ET.
      Please complete and close open sessions before the maintenance window.
    </font>
    <br><br>
    <form method="post" action="{{ url_for('maintenance_ack') }}">
      <input type="hidden" name="next" value="{{ next_url }}">
      <input type="submit" value="Continue to Console" id="{{ rid('btn_ack') }}">
    </form>
  </td></tr>
</table>
{% endblock %}
