<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Action Panel{% endblock %}</title>
</head>
<body bgcolor="#f2efe6" style="font-family: 'Times New Roman', serif; margin: 4px;">
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <table width="100%" cellpadding="4" cellspacing="0" border="0">
    <tr><td bgcolor="#fff3b8">
      <font size="2" color="#7a5b00">
        {% for message in messages %}{{ message }}<br>{% endfor %}
      </font>
    </td></tr>
  </table>
  {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>
